{
  "swagger" : "2.0",
  "info" : {
    "description" : "A service to collect water sample data for analysis",
    "version" : "v1",
    "title" : "Water Collection Service",
    "contact" : {
      "name" : "John Clark"
    },
    "license" : {
      "name" : "MIT License",
      "url" : "https://github.com/clarkjohnm/water-collection-service/blob/master/LICENSE.txt"
    }
  },
  "host" : "cybersapien.org",
  "schemes" : [ "https" ],
  "paths" : {
    "/v1/water-collections" : {
      "get" : {
        "summary" : "Get a list of water collections",
        "description" : "By default, the last 1024 submitted water collections are returned",
        "operationId" : "retrieve-water-collections",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "Successful retrieve response",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/WaterCollection"
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "404" : {
            "description" : "No results found",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "415" : {
            "description" : "Unsupported media type",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "500" : {
            "description" : "Internal service error",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          }
        },
        "x-serviceName" : "water-collection-service",
        "x-slo" : {
          "error_rate" : "0",
          "response_time_95th_percentile" : "1000"
        }
      },
      "post" : {
        "summary" : "Create a water collection resource",
        "description" : "Create a water collection resource",
        "operationId" : "create-water-collection",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "waterCollection",
          "description" : "The water collection to create",
          "required" : true,
          "schema" : {
            "$ref" : "#/definitions/WaterCollection"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "water collection resource, where resource was already created",
            "schema" : {
              "$ref" : "#/definitions/WaterCollection"
            }
          },
          "201" : {
            "description" : "Created water collection creation",
            "schema" : {
              "$ref" : "#/definitions/WaterCollection"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "415" : {
            "description" : "Unsupported media type",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "500" : {
            "description" : "Internal service error",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          }
        },
        "x-serviceName" : "water-collection-service",
        "x-slo" : {
          "error_rate" : "0",
          "response_time_95th_percentile" : "1000"
        }
      }
    },
    "/v1/water-collections/{id}" : {
      "get" : {
        "summary" : "Retrieves a water collection for a given application id",
        "description" : "Retrieves a water collection for a given application id",
        "operationId" : "retrieve-water-collection-by-id",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "Identifier of water collection",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful retrieve response",
            "schema" : {
              "$ref" : "#/definitions/WaterCollection"
            }
          },
          "400" : {
            "description" : "Bad request",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "403" : {
            "description" : "Forbidden",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "404" : {
            "description" : "No water collection found",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "415" : {
            "description" : "Unsupported media type",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          },
          "500" : {
            "description" : "Internal service error",
            "schema" : {
              "$ref" : "#/definitions/Errors"
            }
          }
        },
        "x-serviceName" : "water-collection-service",
        "x-slo" : {
          "error_rate" : "0",
          "response_time_95th_percentile" : "1000"
        }
      }
    }
  },
  "definitions" : {
    "CompoundPercentages" : {
      "type" : "object",
      "required" : [ "bacteria", "id", "metals", "pesticides", "voc" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Object id (uuid; no dashes; Set by service) {read only}",
          "pattern" : "^[0-9a-fA-F]{32}$"
        },
        "voc" : {
          "type" : "number",
          "format" : "double",
          "description" : "VOC Percentage {read only}"
        },
        "pesticides" : {
          "type" : "number",
          "format" : "double",
          "description" : "Pesticide Percentage {read only}"
        },
        "metals" : {
          "type" : "number",
          "format" : "double",
          "description" : "Metal Percentage {read only}"
        },
        "bacteria" : {
          "type" : "number",
          "format" : "double",
          "description" : "Bacteria Percentage {read only}"
        }
      }
    },
    "Error" : {
      "type" : "object",
      "required" : [ "detail", "source", "status" ],
      "properties" : {
        "status" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Error status code {read only}"
        },
        "source" : {
          "description" : "REST Error source",
          "$ref" : "#/definitions/Source"
        },
        "title" : {
          "type" : "string",
          "description" : "Error title {read only}"
        },
        "detail" : {
          "type" : "string",
          "description" : "Error detail {read only}"
        }
      }
    },
    "Errors" : {
      "type" : "object",
      "required" : [ "errors" ],
      "properties" : {
        "errors" : {
          "type" : "array",
          "description" : "An array of error objects {read only}",
          "items" : {
            "$ref" : "#/definitions/Error"
          }
        }
      }
    },
    "Source" : {
      "type" : "object",
      "required" : [ "pointer" ],
      "properties" : {
        "pointer" : {
          "type" : "string",
          "description" : "Path representing the point of the error. Generally a URI path element {read only}"
        }
      }
    },
    "WaterCollection" : {
      "type" : "object",
      "required" : [ "collection_content", "collection_quantity", "collection_type", "collection_version", "date_time", "latitude", "longitude", "station_id" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Collection id (uuid; no dashes; Set by service) {read only}",
          "pattern" : "^[0-9a-fA-F]{32}$"
        },
        "station_id" : {
          "type" : "string",
          "description" : "Station id (uuid; no dashes; Could be personnel id or IoT id; Set by Reporter)",
          "pattern" : "^[0-9a-fA-F]{32}$"
        },
        "date_time" : {
          "type" : "string",
          "format" : "date-time",
          "description" : "Collection time (ISO 8601; UTC; Set by Reporter)"
        },
        "collection_version" : {
          "type" : "string",
          "description" : "Collection version (10 digit string; leading zeros okay; Set by Reporter)",
          "pattern" : "^[0-9]{10}$"
        },
        "collection_type" : {
          "type" : "string",
          "description" : "(String; Set by Reporter)",
          "minLength" : 1,
          "maxLength" : 256
        },
        "collection_content" : {
          "type" : "string",
          "description" : "Collection content (water or gas TDB) {String; Set by Reporter)",
          "minLength" : 1,
          "maxLength" : 256
        },
        "collection_quantity" : {
          "type" : "number",
          "format" : "double",
          "description" : "Quantity (in cubic centimeters; Set by Reporter)"
        },
        "longitude" : {
          "type" : "number",
          "format" : "double",
          "description" : "Longitude (in degrees; Set by Reporter)"
        },
        "latitude" : {
          "type" : "number",
          "format" : "double",
          "description" : "Latitude (in degrees; Set by Reporter)"
        },
        "processing_state" : {
          "type" : "string",
          "description" : "Processing state (fixed set of strings; NOT_STARTED (initial state), IN_PROGRESS, DONE; Set by Server) {read only}",
          "minLength" : 1,
          "maxLength" : 32
        },
        "measurement_version" : {
          "type" : "string",
          "description" : "Measurement version (10 digit string; leading zeros okay; Set by Server) {read only}",
          "pattern" : "^[0-9]{10}$"
        },
        "measurement_type" : {
          "type" : "string",
          "description" : "Measurement type (description. e.g. Volumetric Gas; Set by Server) {read only}",
          "minLength" : 1,
          "maxLength" : 256
        },
        "compound_percentages" : {
          "description" : "Percentage of various compounds in water",
          "$ref" : "#/definitions/CompoundPercentages"
        }
      }
    }
  }
}